<div class="column">
	<article class="box media chatbox">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="http://placehold.it/128x128">
			</p>
		</figure>
	<div class="media-content">
		<div class="content">
			<p><strong>CASAREAL</strong><br>
				内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
			</p>
		</div>
		<article class="media">
			<figure class="media-left">
				<p class="image is-48x48">
					<img src="http://placehold.it/96x96">
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<p><strong>Sean Brown</strong><br>
							コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
					</p>
				</div>
			</div>
		</article>
	</div>
</div>
