<div class="section">
	<div class="container">
		<main class="columns">
			<div class="submenu colum is-3">
				<aside class="box menu">
					<p class="menu-label">
						<strong>ユーザーリスト</strong>
					</p>
					<ul class="menu-list userlist">
						<li> <small> ぼく </small> </li>
						<li> <small> わたし </small> </li>
						<li> <small> きみ </small> </li>
					</ul>
				</aside>			
			</div>
			<div class="column">
				<article class="box media chatbox">
					<figure class="media-left">
							<p class="image is-64x64">
								<img src="http://placehold.it/128x128">
							</p>
					</figure>
					<div class="media-content">
							<div class="content">
								<p><strong>CASAREAL</strong><br>
										内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容、内容<br>
									</p>
							</div>
							<article class="media">
									<figure class="media-left">
										<p class="image is-48x48">
												<img src="http://placehold.it/96x96">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p><strong>Sean Brown</strong><br>
													コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
											</p>
										</div>
									</div>
								</div>
							</article>
						<article class="media">
              <div class="media-content">
                <div class="field has-addons">
                  <div class="control is-expanded">
                      <input
                        class="input"
                        type="text"
                        placeholder="コメントを入力してください"
                      />
                  </div>
                  <div class="control">
                    <a class="button is-info">
                        Send
                    </a>
                  </div>
                </div>
              </div>
          	</article>
					</div>
		</main>
	</div>
</div>