<div class="section">
	<div class="container">
		<main class="columns">
			<div class="submenu colum is-3">
				<aside class="box menu">
					<p class="menu-label">
						<strong>ユーザーリスト</strong>
					</p>
					<% @users.each do |user| %>
						<ul class="menu-list userlist">
							<li> <small> <%= user.username %> </small> </li>
						</ul>
					<% end %>
				</aside>
			</div>
			<%= render 'message' %>
		</main>
	</div>
	<article class="media">
		<div class="media-content">
			<div class="field has-addons">
				<div class="control is-expanded">
						<input
							class="input"
							type="text"
							placeholder="コメントを入力してください"
						/>
				</div>
				<div class="control">
					<a class="button is-info">
							Send
					</a>
				</div>
			</div>
		</div>
	</article>
</div>