<div class="container">
	<section class="hero is-medium is-primary is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Welcome!!
				</h1>
				<h2 class="subtitle">
					会員登録は右上のボタンをクリック
					ログインは下から！
				</h2>
			</div>
		</div>
	</section>
</div>


