<% if flash[:notice] %>
	<div class="notification is-primary is-light">
		<button class="delete"></button>
			<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:danger] %>
	<div class="notification is-danger is-light">
		<button class="delete"></button>
			<%= flash[:danger] %>
	</div>
<% end %>
