<div id="app">
  <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-2">
        Chatapp
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" v-bind:class="{'is-active': isOpen}">
        <div class="navbar-start">
        <a class="navbar-item">
            マイページ
        </a>

        <a class="navbar-item">
            チャット広場
        </a>
        </div>

        <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
            <a class="button is-primary">
                <strong>会員登録</strong>
            </a>
            <a class="button is-light">
                ログイン
            </a>
            </div>
        </div>
        </div>
    </div>
  </nav>
</div>

<script>
var app = new Vue({
    el: '#app',
    data: {
        isOpen: false
    }
})
</script>